.error-box{
    background-color: red;
    margin-top: 10px;
    margin-right: 300px;
    border-radius:10px;


}


.error-item{
    padding:5px;
    color: white;
    margin-left: 50px;

} 

.bg-user{
    background-color: #ADD8E6;

}

.bg-admin{
    background-color: #F5DE83;

}